<%- include('header') %>


    <div class="container">

        <div class="row">
            <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"> Add New Password Catagory </div>
                         </div>  
                    <div class="panel-body" >
                        <form action="/addNewCatagory" id="EmployeeForm" class="form-horizontal" method="post"  role="form">
                           
                            <div class="form-group">
                              <% if(errors!='') { %>
                                <p style="text-align:center;color:red;"><%= errors.passwordCatagory.msg %></p>
                              <% } %>
                              <% if(success!='') { %>
                                <p style="text-align:center;color:green;"><%= success %></p>
                              <% } %>
                                <label for="username" class="col-md-3 control-label">Catagory Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="passwordCatagory" placeholder="Enter Your Password Catagory  Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->                                        
                                <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" value="Add Catagory" class="btn btn-primary">   
                                </div>
                            </div>
                            <p> <a href="/password_catagory"> View all Catagory Lists </a></p>   
                            
                        </form>
                     </div>
                </div>

                <%- include('footer') %>
